p
{
    color:darkcyan;
}

.header-background
{
    background-color:teal;
    color:ivory;
    text-decoration: underline;
}

#bigger-font
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}